.formGroup {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.label {
  font-weight: 700;
  color: #2e217a;
  font-size: 14px;
}

.input {
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
  transition: border 0.3s ease;
}

.input:focus {
  outline: none;
  border: 2px solid #93c5fd;
  background-color: #fff;
}

.button {
  background-color: #2563eb;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.button:hover {
  background-color: #1e40af;
}

.button:active {
  transform: scale(0.97);
}
